:root{
    /* color */
    --teal:teal;
    --coral:rgb(228, 69, 12);
    --dark-teal:rgb(0,77,77);
    --line-color:rgb(176, 164, 164);
}
:root{
    /* font */
    --fontFamily: 'Open Sans', sans-serif;
}
body{
    font-family: var(--fontFamily);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* HEADER */

.header .container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-inline: 10px;
    padding-block-start: 5px;
    cursor: pointer;
    background-color: var(--dark-teal);
    color: #fff;
}
.header .logo h2{
    font-size: 0.8rem;
    margin: 0;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
.header .icon-list{
    display: none;
}
.header .icons .cart-icon{
    margin-inline: 7px;
}

   /* SEARCH BAR */
.container .search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-block-end: 5px;
}
.container .search-container .search-bar{
    width: 100%;
    padding: 2px;
    height: 1.3rem;
    border-radius: 10px;
    border: none;
}

    /* NAVBAR */

.container .navbar{
    display: none;
    overflow: hidden;
} 
.container .navbar#nav-display{
    display: inline;
}    
.container .navbar a{
    text-decoration: none;
    color: #fff;
}  
ul{
    padding-inline-start: 0;  
}
.container .navbar#nav-display {
    background-color: var(--teal);
    position: absolute;
    border-radius: 15px;
    right: 3px;
    width: 8rem;
}
.container .navbar .sign-in{
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.container .navbar .navbar-list a{
    color: #000;
    line-height: 1.5;
}
.container .navbar .navbar-list{
    margin-block-start: 5px;
    margin-block-end: 5px;
    padding-inline: 30px;
}
.container .navbar .navbar-list a:hover{
    color: #fff;
}

     
      /* SECTION */

      /* SHIP-TO */

section .ship-to{
    background-color: var(--teal);
    padding: 3px;
    font-size: 13px;
}
section .ship-to a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
section .ship-to #options{
    background-color: var(--teal);
    border: 0;
}
section .section-list{
    margin-block: 10px;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none;
}  
section .section-list::-webkit-scrollbar{
    display: none;
}
section .section-list a{
    padding: 5px;
    font-size:10px ;
    text-decoration: none;
    color: #000;
    border: 1.5px solid rgb(176, 164, 164);
    border-radius: 5px;
    margin-inline: 6px;
}
section .section-list a:hover{
    color: var(--line-color);
}


        /* TOP-DEAL */

 .container .top-deals  h3{
    text-align: center;
    margin-bottom: 0;
    font-size: 1rem;
 }
 .container  .line{
    border-bottom: 2px solid   rgb(176, 164, 164) ;
 } 
 .container .top-deals .images{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    row-gap: 1rem;
    margin-block: 1rem;
    margin-inline: 10px;
 }
.container .top-deals .images .img-btn img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: auto;
}
 .container .top-deals .images  h4{
    font-size: 10px;
    margin-block-start:0;
    margin-block-end: 0;
    margin-block: 10px;
    text-align: center;
 }
 .container .top-deals .images  p{
    font-size: 15px;
    margin-block-start:2px;
    margin-block-end: 2px;
    text-align: center;
 }
 .container .top-deals .images .img-btn .cart{
    border-radius: 15px;
    border: none;
    background-color: var(--coral);
    text-align: center;
    padding-block: 2px;
    padding-inline: 9px;
    padding: 6px;
    margin-block: 10px;
    margin-inline: 10px;
 }

 .container .top-deals .images .img-btn div:hover{
    background-color: coral;
 } 
 .container .top-deals .images .img-btn{
    background-color:  rgb(247, 241, 241);
    width: 100%;
    border-radius: 10px;
 }

                /* REALATED SEARCH */

.container .related-search h3{
    text-align: center;
    margin-bottom: 0;
    font-size: 1rem;
 }
 .container .related-search .line{
    border-bottom: 2px solid   rgb(176, 164, 164);
 }  
 .container .related-search{
    margin-block-start: 3rem;
 }
 .container .related-search .images{
    display: grid;
    grid-template-columns: 1fr ;
    place-items: center;
    row-gap: 1rem;
    margin-block: 1rem;
    margin-inline: 10px;
 }
 .container .related-search .images img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
 }
 .container .related-search .images h4{
    font-size: 10px;
    margin-block-start:0;
    margin-block-end: 0;
    text-align: center;
    margin-block: 15px;
 }
 .container .related-search .images p{
    font-size: 15px;
    margin-block-start:2px;
    margin-block-end: 2px;
    text-align: center;

 }
 .container .related-search .images .img-btn div{
    border-radius: 15px;
    border: none;
    background-color: var(--coral);
    text-align: center;
    padding-block: 2px;
    padding-inline: 9px;
    padding: 6px;
    margin-block: 10px;
    margin-inline: 10px;
   
 }
 .container .related-search .images .img-btn div:hover{
    background-color: coral;
 } 
 .container .related-search .images .img-btn{
    background-color:  rgb(247, 241, 241);
     border-radius: 10px;
    width: 100%;
 }

  
        /* FOOTER */
footer{
    background-color: var(--dark-teal);
}       
.footer-list{
    color: #fff;
}          
.footer-list ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 15px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
     
}
.footer-list ul a{
    text-decoration: none;
    color: #fff;
    margin-block: 5px;
    font-size: 10px;
}
.footer .line{
    border-bottom: 2px solid rgb(176, 164, 164);
}
.footer .copy-write{
    text-align: center;
    margin-block-start: 10px;
}
.footer .copy-write p{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 10px;
    color: #fff;
}
.footer .copy-write p:nth-child(2){
    font-size: 5px;
    margin-block: 7px;
}
.footer .copy-write p:nth-child(3){
    font-size: 8px;
}

        /* MEDIA QUERIES */

@media (min-width:299px) {
.container .top-deals .images{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        place-items: center;
        row-gap: 1rem;
        margin-block: 1rem;
        column-gap: 10px;
}
.container .related-search .images{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    place-items: center;
    row-gap: 1rem;
    margin-block: 1rem;
    column-gap: 10px;
}
.container .search-container .search-bar{
    width: 85%;
}
}

@media (min-width:700px) {
.container .top-deals .images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
}
.container .related-search .images{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
}
}

@media (min-width:992px) {
.container .top-deals .images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}
.container .related-search .images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}
.container .top-deals h3{
    font-size:1.5rem ;
}
.container .related-search h3{
    font-size:1.5rem ;
}
.header .icons .menu-icon{
    display: none;
}
.header .container .icons{
    display: flex;
    font-size: 30px;
}
.header .icon-list{
    display: flex;
    margin-inline: 20px;
    font-size: 15px;
    margin-block-start: 6px;
}
.header .icon-list:hover{
    color: var(--line-color);
}
.header .container .logo h2{
    font-size: 20px;
}
.footer .copy-write p{
    font-size: 15px;
}
.footer .copy-write p:nth-child(2){
    font-size: 8px;
    margin-block: 7px;
}
.footer .copy-write p:nth-child(3){
    font-size: 10px;
}
.footer-list ul a{
    font-size: 17px;
}
}


